@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 7rem;
    .soporte {
        @include m.textoDegradado(v.$indigo, v.$amarillo);
 
    }

    .acciones {
        justify-content: center;
        a {
            color: v.$indigo;
        }
    }
}

